.pop{
    font-size: 45px;
    color: darkviolet;
      }
      .lool{
        color: darkorange;
      }
      .qwe{
border: 10px solid coral;
font-size: 29px;

      }
      
      .ghj{
        font-size: 36px;
      }
      .plm{
        font-size: 29px;
      }

      .mnb{
        font-size: 100px;
      }
